<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <form class="form-sample" #formSearchSt="ngForm" autocomplete="off">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-label">{{'label.student.code'|transloco}}</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="studentCode" ngModel/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-label">{{'label.full_name'|transloco}}</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="studentName" ngModel/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-label">{{'label.form.course'|transloco}}</label>
                <div class="col-sm-9">
                  <select class="form-control" name="studentCourse" ngModel>
                    <option>{{'label.choose.course'|transloco}}</option>
                    <option *ngFor="let c of courses" [value]="c.id">{{c.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-label">{{'label.form.class'|transloco}}</label>
                <div class="col-sm-9">
                  <select class="form-control" [disabled]="true" name="studentClass" ngModel>
                    <option>{{'label.choose.class'|transloco}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-label">{{'label.form.unit'|transloco}}</label>
                <div class="col-sm-9">
                  <select class="form-control" name="studentUnit" data-size="10" ngModel>
                    <option>{{'label.choose.unit'|transloco}}</option>
                    <option *ngFor="let u of units" [value]="u.id">{{u.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div style="text-align: center;">
            <button class="btn btn-sm btn-primary" (click)="search(formSearchSt)">{{'button.search'|transloco}}</button>
            <button class="btn btn-sm btn-success" style="margin-left: 5px;" (click)="addStudent()">{{'button.add'|transloco}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
