# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DoAn\Do-An-App-Desktop-JavaFX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
