<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <!--<li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="profile-image">
          <img class="img-xs rounded-circle" src="assets/images/faces/face8.jpg" alt="profile image">
          <div class="dot-indicator bg-success"></div>
        </div>
        <div class="text-wrapper">
          <p class="profile-name">Allen Moreno</p>
          <p class="designation">Premium user</p>
        </div>
      </a>
    </li>-->
    <li class="nav-item nav-category">Main Menu</li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/home/dashboard">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">{{'label.dashboard'|transloco}}</span>
      </a>
    </li>
    <li class="nav-item" *ngFor="let ctg of categoryParent">
      <a class="nav-link" href="#" *ngIf="!ctg.haveChildren" routerLink="{{ctg.url}}">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">{{ctg.code|transloco}}</span>
      </a>
      <a class="nav-link" *ngIf="ctg.haveChildren" (click)="getChildCategory(ctg.id)"
         data-toggle="collapse" [href]="'#sub'+ctg.id">
        <i class="menu-icon typcn typcn-coffee"></i>
        <span class="menu-title">{{ctg.code|transloco}}</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" *ngIf="ctg.haveChildren" [id]="'sub'+ctg.id">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" *ngFor="let ctgSub of categoryChild">
            <a class="nav-link" href="#" routerLink="{{ctgSub.url}}">{{ctgSub.code|transloco}}</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
