<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <form class="form-sample" #formSearchDepartment="ngForm" autocomplete="off">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-label">{{'label.department.code'|transloco}}</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="departmentCode" ngModel/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-label">{{'table.department.name'|transloco}}</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="departmentName" ngModel/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-label">{{'label.form.unit'|transloco}}</label>
                <div class="col-sm-9">
                  <select class="form-control" name="departmentUnit" data-size="10" ngModel>
                    <option>{{'label.choose.unit'|transloco}}</option>
                    <option *ngFor="let u of units" [value]="u.id">{{u.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div style="text-align: center;">
            <button class="btn btn-sm btn-primary" (click)="search(formSearchDepartment)">{{'button.search'|transloco}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
