<div class="content-wrapper">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <form class="form-sample">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label font-label">{{'table.class.code'|transloco}}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="code"
                           [disabled]="true" [(ngModel)]="classSubject.code"/>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label font-label">
                    {{'table.class.name'|transloco}} <span style="color: red;">(*)</span>
                  </label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="name"
                           [(ngModel)]="classSubject.name" [disabled]="!isSaveOrUpdate"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="isSaveOrUpdate||!classSubjectId">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label font-label">
                    {{'label.form.unit'|transloco}} <span style="color: red;">(*)</span>
                  </label>
                  <div class="col-sm-8">
                    <select class="form-control" name="unit" data-size="10"
                            [(ngModel)]="selectedUnit" (ngModelChange)="unitChange()">
                      <option>{{'label.choose.unit'|transloco}}</option>
                      <option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label font-label">
                    {{'label.department'|transloco}} <span style="color: red;">(*)</span>
                  </label>
                  <div class="col-sm-8">
                    <select class="form-control" name="department" data-size="10" [disabled]="!selectedUnit"
                            [(ngModel)]="selectedDepartment" (ngModelChange)="departmentChange()">
                      <option>{{'label.choose.department'|transloco}}</option>
                      <option *ngFor="let department of departments" [value]="department.id">{{department.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label font-label">
                    {{'label.subject'|transloco}} <span style="color: red;">(*)</span>
                  </label>
                  <div class="col-sm-8">
                    <select class="form-control" name="subject" data-size="10"
                            [(ngModel)]="classSubject.subjectsId" [disabled]="!(isSaveOrUpdate&&selectedDepartment)">
                      <option [value]="0">{{'label.choose.subject'|transloco}}</option>
                      <option *ngFor="let s of subjects" [value]="s.id">{{s.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label font-label">
                    {{'label.form.course'|transloco}} <span style="color: red;">(*)</span>
                  </label>
                  <div class="col-sm-8">
                    <select class="form-control" name="course" data-size="10"
                            [(ngModel)]="classSubject.courseId" [disabled]="!isSaveOrUpdate">
                      <option [value]="0">{{'label.choose.course'|transloco}}</option>
                      <option *ngFor="let c of courses" [value]="c.id">{{c.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label font-label">{{'table.date.begin'|transloco}}</label>
                  <div class="col-sm-8">
                    <input class="form-control" type="date" name="dateBegin" [(ngModel)]="classSubject.startDate" [disabled]="!isSaveOrUpdate"/>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label font-label">{{'table.date.end'|transloco}}</label>
                  <div class="col-sm-8">
                    <input class="form-control" type="date" name="dateEnd" [(ngModel)]="classSubject.endDate" [disabled]="!isSaveOrUpdate"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label font-label">{{'table.class.teach'|transloco}}</label>
                  <div class="col-sm-8">
                    <select class="form-control" name="teacher" data-size="10"
                            [disabled]="!(isSaveOrUpdate&&selectedDepartment)" [(ngModel)]="classSubject.userId">
                      <option>{{'label.choose.teacher'|transloco}}</option>
                      <option *ngFor="let t of teachers" [value]="t.id">{{t.firstName + ' ' + t.lastName}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label font-label">{{'label.status'|transloco}}</label>
                  <div class="col-sm-8">
                    <select class="form-control" name="status" data-size="10"
                            [disabled]="!isSaveOrUpdate" [(ngModel)]="classSubject.status">
                      <option [value]="0">{{'label.status.prepare'|transloco}}</option>
                      <option [value]="1">{{'label.status.studying'|transloco}}</option>
                      <option [value]="2">{{'label.status.finish'|transloco}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label font-label">{{'label.calendar'|transloco}}</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="1" name="calendar" [disabled]="!isSaveOrUpdate"
                              [(ngModel)]="classSubject.calendar"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="text-align: center">
    <div class="col-12">
      <button class="btn btn-sm btn-primary" style="margin-right: 5px;"
              *ngIf="isSaveOrUpdate&&!classSubjectId" (click)="openModal(saveModal)">{{'button.save'|transloco}}</button>
      <button class="btn btn-sm btn-primary" style="margin-right: 5px;"
              *ngIf="!isSaveOrUpdate&&classSubjectId" (click)="isSaveOrUpdate=!isSaveOrUpdate">{{'button.update'|transloco}}</button>
      <button class="btn btn-sm btn-primary" style="margin-right: 5px;"
              *ngIf="isSaveOrUpdate&&classSubjectId" (click)="openModal(saveModal)">{{'button.edit'|transloco}}</button>
      <button class="btn btn-sm btn-primary" style="margin-right: 5px;"
              *ngIf="isSaveOrUpdate&&classSubjectId" (click)="cancel()">{{'button.cancel'|transloco}}</button>
      <button class="btn btn-sm btn-primary" style="margin-right: 5px;"
              *ngIf="classSubjectId">{{'button.import'|transloco}}</button>
      <button class="btn btn-sm btn-primary" (click)="back()">{{'button.back'|transloco}}</button>
    </div>
  </div>
  <div class="row" style="margin-top: 5px;" *ngIf="classSubjectId">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{'table.title.student'|transloco}}</h3>
          <table class="table table-hover">
            <thead>
            <tr>
              <th style="width: 15px;">
                <label class="form-check form-check-label">
                  <input type="checkbox" class="form-check-input" style="position: inherit" name="cbAll"
                         [disabled]="classSubject.status==2" [checked]="checkedAll" (change)="checkAll($event)">
                </label>
              </th>
              <th style="width: 10px;">{{'table.number'|transloco}}</th>
              <th>{{'table.student.code'|transloco}}</th>
              <th>{{'table.name'|transloco}}</th>
              <th>{{'table.dob'|transloco}}</th>
              <th>{{'table.student.course'|transloco}}</th>
              <th>{{'table.student.score.point_process'|transloco}}</th>
              <th>{{'table.student.score.test_score'|transloco}}</th>
              <th>{{'table.student.score.final_score'|transloco}}</th>
              <th style="width: 15px;">{{'table.action'|transloco}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cd of classSubject.classDetails|slice:(page-1)*pageSize:(page-1)*pageSize+pageSize, index as i">
              <td>
                <label class="form-check form-check-label">
                  <input type="checkbox" class="form-check-input" style="position: inherit" name="{{'cb'+cd.id}}"
                         [disabled]="classSubject.status==2" [checked]="cd.checked" (change)="checkedOne($event, cd)">
                </label>
              </td>
              <td>{{i+1}}</td>
              <td>{{cd.studentsCode}}</td>
              <td>{{cd.studentsFullName}}</td>
              <td>{{cd.studentsDob|date: 'dd-MM-yyyy'}}</td>
              <td>{{cd.studentsCourseName}}</td>
              <td>{{cd.scoreProcess}}</td>
              <td>{{cd.scoreExam}}</td>
              <td>{{cd.finalScore}}</td>
              <td ngbDropdown container="body">
                <div class="dropdown">
                  <button class="btn btn-sm btn-primary dropdown-toggle" type="button" [id]="'ddBtn'+cd.id"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'button.action'|transloco}}</button>
                  <div class="dropdown-menu" aria-labelledby="{{'ddBtn'+cd.id}}">
                    <button class="dropdown-item btn btn-sm" [disabled]="classSubject.status==2" (click)="openModal(selectTransferModal, cd)">{{'button.transfer_class'|transloco}}</button>
                    <button class="dropdown-item btn btn-sm" [disabled]="classSubject.status==2" (click)="openModal(deleteModal, cd)">{{'button.delete'|transloco}}</button>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div *ngIf="classSubject.classDetails==null||classSubject.classDetails.length==0">
            <h6 style="color: red;">{{'error.empty_list_data'|transloco}}</h6>
          </div>
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="maxSize"
                          [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                          [pageSize]="pageSize"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="text-align: center">
    <div class="col-12">
      <button class="btn btn-sm btn-primary" style="margin-right: 5px;"
              *ngIf="classSubjectId&&classSubject.classDetails&&countChecked!=0" (click)="openModal(selectTransferModal)">{{'button.transfer_class'|transloco}}</button>
      <button class="btn btn-sm btn-primary" style="margin-right: 5px;"
              *ngIf="classSubjectId&&classSubject.classDetails&&countChecked!=0" (click)="openModal(deleteModal)">{{'button.delete'|transloco}}</button>
      <button class="btn btn-sm btn-primary"
              *ngIf="classSubjectId&&classSubject.classDetails" (click)="back()">{{'button.back'|transloco}}</button>
    </div>
  </div>
</div>


<ng-template #saveModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{'label.notification'|transloco}}</h4>
  </div>
  <div class="modal-body">
    {{'message.save'|transloco}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-secondary" (click)="modal.dismiss()">{{'button.cancel'|transloco}}</button>
    <button type="button" class="btn btn-sm btn-danger" (click)="saveOrUpdate()">{{'button.ok'|transloco}}</button>
  </div>
</ng-template>
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{'label.notification'|transloco}}</h4>
  </div>
  <div class="modal-body">
    {{'message.delete'|transloco}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-secondary" (click)="modal.dismiss()">{{'button.cancel'|transloco}}</button>
    <button type="button" class="btn btn-sm btn-danger" (click)="delete()">{{'button.ok'|transloco}}</button>
  </div>
</ng-template>
<ng-template #transferModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{'label.notification'|transloco}}</h4>
  </div>
  <div class="modal-body">
    {{'message.transfer'|transloco}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-secondary" (click)="modal.dismiss()">{{'button.cancel'|transloco}}</button>
    <button type="button" class="btn btn-sm btn-danger" (click)="transfer()">{{'button.ok'|transloco}}</button>
  </div>
</ng-template>
<ng-template #selectTransferModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{'label.choose.class'|transloco}}</h4>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <div class="col-sm-12">
        <select class="form-control" name="department" data-size="10"
                [(ngModel)]="selectClassSubjectId">
          <option>{{'label.choose.class'|transloco}}</option>
          <option *ngFor="let cs of classSubjects" [value]="cs.id">{{cs.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-secondary" (click)="modal.dismiss()">{{'button.cancel'|transloco}}</button>
    <button type="button" class="btn btn-sm btn-danger" (click)="openModal(transferModal)">{{'button.ok'|transloco}}</button>
  </div>
</ng-template>
