<div class="h-100 bg-plum-plate bg-animation">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-6">
      <div class="app-logo mx-auto mb-3"></div>
      <div class="modal-dialog w-100" *ngIf="!sent">
        <div class="modal-content">
          <div class="modal-header">
            <div class="h5 modal-title">
              {{label.TITLE_RECEIVE_CODE}}
              <h6 class="mt-1 mb-0 opacity-8">
                <span>{{label.TITLE_RECEIVE_CODE_PS}}</span>
              </h6>
            </div>
          </div>
          <div class="modal-body">
            <div>
              <form>
                <div  class="row">
                  <div class="col-md-12">
                    <fieldset class="form-group">
                      <div tabindex="-1" role="group">
                        <input name="email" type="email" placeholder="{{label.EMAIL}}" class="form-control">
                      </div>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
            <div class="divider"></div>
            <h6 class="mb-0">
              <a routerLink="/login" class="text-primary">{{label.LOGIN}}</a>
            </h6>
          </div>
          <div class="modal-footer clearfix">
            <div class="float-right">
              <button type="button" class="btn btn-primary btn-lg" (click)="sendCode()">{{label.SEND_CODE}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-dialog w-100" *ngIf="sent">
        <div class="modal-content">
          <div class="modal-header">
            <div class="h5 modal-title">
              {{label.TITLE_CHANGE_PASSWORD}}
              <h6 class="mt-1 mb-0 opacity-8">
                <span>{{label.TITLE_CHANGE_PASSWORD_PS}}</span>
              </h6>
            </div>
          </div>
          <div class="modal-body">
            <div>
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <input name="newPassword" type="password" placeholder="{{label.NEW_PASSWORD}}" class="form-control"
                           required>
                  </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                  <div class="col-md-12">
                    <input name="confirmNewPassword" type="password" class="form-control" placeholder="{{label.CONFIRM_NEW_PASSWORD}}"
                           required>
                  </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                  <div class="col-md-12">
                    <input name="code" type="number" class="form-control" placeholder="{{label.CODE}}"
                           required>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="divider"></div>
          <div class="modal-footer clearfix">
            <div class="float-right">
              <button type="button" class="btn btn-primary btn-lg">{{label.RESET_PASSWORD}}</button>
              <button type="button" class="btn btn-primary btn-lg" style="margin-left: 10px;" (click)="back()">{{label.BACK}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
